In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./datasets/Spaceship Titanic.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [3]:
df.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [4]:
x = df.iloc[:,1:12]
x.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [5]:
y = df.iloc[:,13:]
y.head()

   Transported
0        False
1         True
2        False
3        False
4         True

fill null values

In [6]:
x.isna().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [7]:
x = x.fillna(x.mean())

C:\Users\Dell\AppData\Local\Temp\ipykernel_11596\3649479059.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  x = x.fillna(x.mean())

In [8]:
x.isna().sum()

HomePlanet      201
CryoSleep         0
Cabin           199
Destination     182
Age               0
VIP               0
RoomService       0
FoodCourt         0
ShoppingMall      0
Spa               0
VRDeck            0
dtype: int64

In [9]:
unique_values = x['HomePlanet'].unique()
mode_value = x['HomePlanet'].mode().iloc[0]

unique_values, mode_value

(array(['Europa', 'Earth', 'Mars', nan], dtype=object), 'Earth')

In [10]:
x['HomePlanet'].fillna('Earth', inplace=True)

In [11]:
unique_values = x['Cabin'].unique()
mode_value = x['Cabin'].mode().iloc[0]

unique_values, mode_value

(array(['B/0/P', 'F/0/S', 'A/0/S', ..., 'G/1499/S', 'G/1500/S', 'E/608/S'],
       dtype=object),
 'G/734/S')

In [12]:
x['Cabin'].fillna('G/734/S', inplace=True)

In [13]:
unique_values = x['Destination'].unique()
mode_value = x['Destination'].mode().iloc[0]

unique_values, mode_value

(array(['TRAPPIST-1e', 'PSO J318.5-22', '55 Cancri e', nan], dtype=object),
 'TRAPPIST-1e')

In [14]:
x['Destination'].fillna('TRAPPIST-1e', inplace=True)

In [15]:
x.isna().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [19]:
### lable encoding 
from sklearn.preprocessing import LabelEncoder

categorical_columns = x.select_dtypes(include=['object']).columns

label_encoder = LabelEncoder()

for column in categorical_columns:
    x[column] = label_encoder.fit_transform(x[column])

In [20]:
y['Transported'] = label_encoder.fit_transform(y['Transported'])

C:\Users\Dell\AppData\Local\Temp\ipykernel_11596\2201384570.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y['Transported'] = label_encoder.fit_transform(y['Transported'])

In [23]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit and transform the entire DataFrame
x = pd.DataFrame(scaler.fit_transform(x), columns=x.columns)

In [24]:
x.describe()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03,8.693000e+03
mean,-2.937436e-18,-5.387002e-17,2.156333e-16,7.369132e-18,-1.353264e-16,-5.895945e-17,2.480122e-16,-5.512162e-16,-6.683433e-16,-2.304865e-16,-8.077757e-16
std,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00,1.000058e+00
min,-8.172590e-01,-7.633884e-01,-1.606278e+00,-1.833685e+00,-2.010564e+00,-2.083204e-01,-3.405899e-01,-2.873140e-01,-2.908170e-01,-2.766634e-01,-2.690226e-01
25%,-8.172590e-01,-7.633884e-01,-9.370388e-01,-6.065700e-01,-6.156918e-01,-2.083204e-01,-3.405899e-01,-2.873140e-01,-2.908170e-01,-2.766634e-01,-2.690226e-01
50%,-8.172590e-01,-7.633884e-01,-3.040973e-04,6.205450e-01,-1.274865e-01,-2.083204e-01,-3.405899e-01,-2.873140e-01,-2.908170e-01,-2.766634e-01,-2.690226e-01
75%,4.403853e-01,1.346335e+00,8.980030e-01,6.205450e-01,5.699497e-01,-2.083204e-01,-2.223546e-01,-2.133024e-01,-2.154885e-01,-1.975250e-01,-2.063679e-01
max,1.698030e+00,1.346335e+00,1.667054e+00,6.205450e-01,3.499182e+00,5.818066e+00,2.137681e+01,1.841192e+01,3.903403e+01,1.964845e+01,2.102742e+01

In [26]:
# now use ml algorithm
#Fitting Logistic Regression to the training set  
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=1000,random_state=12)
lr.fit(x,y)

C:\Users\Dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(max_iter=1000, random_state=12)

In [27]:
# Fitting Naive Bayes to the Training set  
from sklearn.naive_bayes import GaussianNB  
nb = GaussianNB()  
nb.fit(x, y)

C:\Users\Dell\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

## now submit with test data on kaggle

# kaggle link:- https://www.kaggle.com/code/dinanksoni/spaceship-titanic